@import './base.css';

#app {
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

a {
  text-decoration: underline;
  color: var(--color-link);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    color: var(--color-text);
  }
}

@media (min-width: 1024px) {
  #app {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 0;
  }
}
